Prepared By
## Dr. Adam Ross Nelson
For Statistical Seminars DC

More about presenter at: www.adamrossnelson.com

Coming soon: LINK TO ACCOMPANYING YOUTUBE PRESENTATION

In [1]:
!ls

College_Data                        Pandas_Cant_Live_Saving_Data.ipynb
Pandas_Cant_Live_Missing_Heat.ipynb Pandas_Cant_Live_Transpose.ipynb

In [2]:
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_stata('http://www.stata-press.com/data/r15//mheart1s20.dta')

In [5]:
df.to_stata('mheart1s20.dta')
# Todo: Look into the malware potential for pkl
df.to_pickle('mheart1s20.pkl')
df.to_html('mheart1s20.html')

In [6]:
df

,attack,smokes,age,bmi,female,hsgrad,_mi_id,_mi_miss,_mi_m
0,0,0,60.292004,21.114553,0,0,1,0.0,0
1,0,0,45.014355,24.868397,0,1,2,0.0,0
2,0,0,61.955330,30.502745,0,0,3,0.0,0
3,0,0,39.602947,24.629171,1,1,4,0.0,0
4,0,0,45.476906,22.527441,1,1,5,0.0,0
...,...,...,...,...,...,...,...,...,...
589,1,0,87.144463,30.890043,0,1,116,NaN,20
590,0,0,51.871243,24.073057,0,1,122,NaN,20
591,0,1,58.637562,18.211361,0,1,134,NaN,20
592,0,0,58.461575,28.329517,0,0,141,NaN,20
593,0,1,40.346634,28.429976,0,1,150,NaN,20

Copyright 2022 Adam Ross Nelson

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.